easyExercises/3.Inventario/XSD/inventario.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:simpleType name="notNegative">
        <xs:restriction base="xs:nonNegativeInteger" />
    </xs:simpleType>

    <xs:simpleType name="precio">
        <xs:restriction base="xs:decimal">
            <xs:minExclusive value="0" />
            <xs:fractionDigits value="2" />
        </xs:restriction>
    </xs:simpleType>


    <xs:simpleType name="stock">
        <xs:restriction base="xs:string">
            <xs:enumeration value="si"/>
            <xs:enumeration value="no"/>
        </xs:restriction>
    </xs:simpleType>



    <xs:element name="productos">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="producto" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="nombre" type="xs:string"></xs:element>
                            <xs:element name="cantidad"
                            type="notNegative"></xs:element>
                            <xs:element name="precio_unitario"
                            type="precio"></xs:element>
                            
                        </xs:sequence>
                        <xs:attribute name="disponible" type="stock" use="required"></xs:attribute>
                    </xs:complexType>
                </xs:element>

            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>