easyExercises/1.Books/XSD/books.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    
    <!--Reglas-->
    <xs:simpleType name="maxPrice">
        <xs:restriction base="xs:double">
            <xs:minExclusive value="0" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="myAuthor">
        <xs:restriction base="xs:string">
            <xs:minLength value="1" />
            <xs:maxLength value="50" />
        </xs:restriction>
    </xs:simpleType>


    <xs:element name="libros">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="libro" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="titulo" type="myAuthor"/>
                            <xs:element name="autor" type="myAuthor"/>
                            <xs:element name="precio" type="maxPrice"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
        
    </xs:element>
</xs:schema>