Actividad-1/xsd/actividad1.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="fromTo">
        <xs:complexType>
            <xs:attribute name="from" type="xs:date" />
            <xs:attribute name="to" type="xs:date" />
        </xs:complexType>
    </xs:element>

    <xs:element name="cifs">
        <xs:complexType>
            <xs:attribute name="cif" type="xs:string" />
            <xs:attribute name="razon" type="xs:string" />
        </xs:complexType>
    </xs:element>

    <xs:element name="facture">
        <xs:complexType>
            <xs:attribute name="importe" type="xs:double" />
            <xs:attribute name="iban" type="xs:string" />
        </xs:complexType>
    </xs:element>

    <xs:element name="all">
        <xs:complexType>
            <xs:attribute name="total" type="xs:double" />
        </xs:complexType>
    </xs:element>

    <xs:element name="myIva">
        <xs:complexType>
            <xs:attribute name="porcentaje" type="xs:double" />
            <xs:attribute name="cuota" type="xs:double" />
        </xs:complexType>
    </xs:element>

    <xs:element name="resumenIVA">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="presentacion">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="periodo">
                                <xs:complexType>
                                    <xs:attribute name="desde" type="xs:date" />
                                    <xs:attribute name="hasta" type="xs:date" />
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="presentador">
                                <xs:complexType>
                                    <xs:attribute name="cif" type="xs:string" />
                                    <xs:attribute name="razon" type="xs:string" />
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="liquidacion">
                                <xs:complexType>
                                    <xs:attribute name="importe" type="xs:double" />
                                    <xs:attribute name="iban" type="xs:string" />
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="observaciones" />
                        </xs:sequence>

                        <xs:attribute name="fecha" type="xs:date" />
                    </xs:complexType>
                </xs:element>

                <xs:element name="soportado">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="iva" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:attribute name="porcentaje" type="xs:double" />
                                    <xs:attribute name="base" type="xs:double" />
                                    <xs:attribute name="cuota" type="xs:double" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="total" type="xs:double" />
                    </xs:complexType>
                </xs:element>

                <xs:element name="repercutido">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="iva">
                                <xs:complexType>
                                    <xs:attribute name="porcentaje" type="xs:double" />
                                    <xs:attribute name="base" type="xs:double" />
                                    <xs:attribute name="cuota" type="xs:double" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>

                        <xs:attribute name="total" type="xs:double" />
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>

    </xs:element>
</xs:schema>