Actividad-1/dtd/actividad1.dtd

<!ATTLIST presentacion fecha CDATA #REQUIRED>

<!ATTLIST periodo desde CDATA #REQUIRED>
<!ATTLIST periodo hasta CDATA #REQUIRED>

<!ATTLIST presentador cif CDATA #REQUIRED>
<!ATTLIST presentador razon CDATA #REQUIRED>

<!ATTLIST liquidacion importe CDATA #REQUIRED>
<!ATTLIST liquidacion iban CDATA #IMPLIED>
<!ATTLIST liquidacion cargo CDATA #REQUIRED>

<!ATTLIST soportado total CDATA #REQUIRED>

<!ATTLIST iva porcentaje CDATA #REQUIRED>
<!ATTLIST iva base CDATA #REQUIRED>
<!ATTLIST iva cuota CDATA #REQUIRED>

<!ATTLIST repercutido total CDATA #REQUIRED>

<!ELEMENT resumenIVA (presentacion, soportado?,repercutido?)>
<!ELEMENT presentacion (periodo, presentador, liquidacion, observaciones?)>
    <!ELEMENT periodo EMPTY>
    <!ELEMENT presentador EMPTY>
    <!ELEMENT liquidacion EMPTY>
    <!ELEMENT observaciones (#PCDATA)>
<!ELEMENT soportado (iva+)>
    <!ELEMENT iva EMPTY>
<!ELEMENT repercutido (iva+)>
