ejercicioRepaso/ejercicio02/DTD/gastos.dtd

<!ELEMENT gastos_empresa (conceptos+, empleado+)>
<!ELEMENT conceptos (#PCDATA)>
<!ELEMENT empleado (gastos_empleado, observaciones?)>
<!ELEMENT gastos_empleado (gasto+)>
<!ELEMENT gasto (#PCDATA)>
<!ELEMENT observaciones (#PCDATA)>


<!ATTLIST empleado dni ID #REQUIRED>
<!ATTLIST empleado nombre CDATA #REQUIRED>
<!ATTLIST empleado departamento CDATA #IMPLIED>

<!ATTLIST gasto id ID #REQUIRED>
<!ATTLIST gasto fecha CDATA #REQUIRED>
<!ATTLIST gasto concepto CDATA #REQUIRED>
<!ATTLIST gasto cantidad CDATA #IMPLIED>
<!ATTLIST gasto precio CDATA #REQUIRED>