xsd/LMSGI04.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:simpleType name="onlyThisMemory">
        <xs:restriction base="xs:integer">
            <xs:enumeration value="128" />
            <xs:enumeration value="256" />
            <xs:enumeration value="512" />
            <xs:enumeration value="1024" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="maxName">
        <xs:restriction base="xs:string">
            <xs:maxLength value="30" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="maxDecimal">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="2" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="onlyThisNumebers">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="0" />
            <xs:maxInclusive value="36" />
        </xs:restriction>
    </xs:simpleType>


    <xs:element name="renomobile">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="dispositivos">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="marcas">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="marca" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:attribute name="id" type="xs:ID" use="required" />
                                                <xs:attribute name="nombre" type="xs:string" />
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>


                                </xs:complexType>
                            </xs:element>

                            <xs:element name="categorias">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="categoria" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:attribute name="id" type="xs:ID" use="required" />
                                                <xs:attribute name="nombre" type="xs:string" />
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>

                            <xs:element name="accesorios">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="accesorio" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:attribute name="id" type="xs:ID" use="required" />
                                                <xs:attribute name="nombre" type="maxName" />
                                                <xs:attribute name="solo_categoria" type="xs:IDREF"
                                                    use="optional" />
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>

                            <xs:element name="estados_cosmeticos">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="estado_cosmetico" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:string">
                                                        <xs:attribute name="id" type="xs:ID"
                                                            use="required" />
                                                        <xs:attribute name="garantia"
                                                            type="onlyThisNumebers" use="required" />
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>

                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="valoraciones">

                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="valoracion" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:choice maxOccurs="unbounded">
                                        <xs:element name="estado">
                                            <xs:complexType>
                                                <xs:attribute name="nivel"
                                                    type="xs:IDREF" use="required" />
                                                <xs:attribute name="base"
                                                    type="maxDecimal" use="required" />
                                            </xs:complexType>
                                        </xs:element>

                                        <xs:element name="extra">
                                            <xs:complexType>
                                                <xs:attribute name="memoria"
                                                    type="onlyThisMemory" use="optional" />
                                                <xs:attribute name="incremento"
                                                    type="maxDecimal" use="required" />
                                                <xs:attribute name="accesorio" type="xs:IDREF"
                                                    use="optional" />

                                                <xs:attribute name="garantia"
                                                    type="onlyThisNumebers" use="optional" />

                                            </xs:complexType>
                                        </xs:element>
                                    </xs:choice>
                                    <xs:attribute name="categoria" type="xs:IDREF"
                                        use="required" />
                                    <xs:attribute name="marca" type="xs:IDREF"
                                        use="required" />
                                    <xs:attribute name="modelo" type="xs:string"
                                        use="required" />
                                    <xs:attribute name="memoria" type="onlyThisMemory"
                                        use="optional" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>

                </xs:element>
            </xs:sequence>


        </xs:complexType>

    </xs:element>

</xs:schema>