xsd/LMSGI04.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="onlyThisMemory">
        <xs:simpleType>
            <xs:restriction base="xs:integer">
                <xs:enumeration value="128" />
                <xs:enumeration value="256" />
                <xs:enumeration value="512" />
                <xs:enumeration value="1024" />
            </xs:restriction>
        </xs:simpleType>
    </xs:element>

    <xs:element name="maxName">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:length value="30" />
            </xs:restriction>
        </xs:simpleType>
    </xs:element>

    <xs:element name="maxDecimal">
        <xs:simpleType>
            <xs:restriction base="xs:decimal">
                <xs:fractionDigits value="2" />
            </xs:restriction>
        </xs:simpleType>
    </xs:element>

    <xs:element name="onlyThisNumebers">
        <xs:simpleType>
            <xs:restriction base="xs:integer">
                <xs:minInclusive value="0" />
                <xs:maxInclusive value="36" />
            </xs:restriction>
        </xs:simpleType>
    </xs:element>

    <xs:element name="renomobile">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="dispositivos">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="marcas">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="marca" />
                                        <xs:element name="marca" />
                                        <xs:element name="marca" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>

                            <xs:element name="categorias">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="categoria" />
                                        <xs:element name="categoria" />
                                        <xs:element name="categoria" />
                                        <xs:element name="categoria" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>

                            <xs:element name="accesorios">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="accesorio" />
                                        <xs:element name="accesorio" />
                                        <xs:element name="accesorio" />
                                        <xs:element name="accesorio" />
                                        <xs:element name="accesorio" />
                                        <xs:element name="accesorio" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>

                            <xs:element name="estados_cosmeticos">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="estado_cosmetico" />
                                        <xs:element name="estado_cosmetico" />
                                        <xs:element name="estado_cosmetico" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>

                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            
                <xs:element name="valoraciones">
                    <xs:complexType>
                        
                    </xs:complexType>
                    <xs:complexType>
                        
                        <!-- <xs:choice>
                            <xs:element name="estado" maxOccurs="unbounded"/>
                            <xs:element name="extra" maxOccurs="unbounded"/> 
                        </xs:choice>                         -->
                    </xs:complexType>
                </xs:element>
            </xs:sequence>

            
        </xs:complexType>

    </xs:element>

</xs:schema>